/* edit main div */
.maindiv{
    margin-left: 30vw;
}

/* edit big div */
.bigdiv{
    align-items: center;
}

.bigdiv1{
    margin-right: 20vw;
}

/* edit "End Date" section */
.end_date_m{
    width: 2vw;
}

.end_date_y{
    width: 2vw;
}

/* edit the main div of "End Date" and "CVV" section */
.edcvv{
    display: flex;
}

.cvvdiv{
    margin-left: 10vw;
}

/* edit fieldset */
.mfieldset{
    font-weight: bold;
    background-color: rgb(239, 245, 254);
    width:20vw;
    border-radius: 0.9vw;
    border-color:rgb(56, 76, 224);
    opacity: 0.8;
}

/*Set a picture to the background*/
.bd {
    position: relative;
    z-index: 1;
}

.bd::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../Pictures//con\ background.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

/* edit card logo section */
.carddiv{
    width: 35vw;
}

/* edit "Pay Now" and "Cancel" buttons */
.fbtn{
    display: flex;
}
.paybtn{
    margin-left: 16vw;
    width: 10vw;
    height: 5vh;
    background-color: rgb(18, 16, 133);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    cursor: pointer;

}

.paybtn:hover{
    background-color: rgb(225, 21, 21);
    color: rgb(255, 255, 255);
    transform: scale(1.0);

}

.canbtn{
    width: 9vw;
    height: 4.8vh;
    border-width: 0.1vw;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

/* edit visa card logo and master card logo */
.visa{
    margin-top: 1.2vw;
    width: 4vw;
    margin-left: 11vw;

}

.master{
    margin-top: 1.2vw;
    width: 4vw;
}

.carddiv{
    
    height: 11vh;
    display: flex;
    background-color: hwb(240 82% 8%);
    border-radius: 5px;

}

.masterdiv{
    margin-left: 0.5vw;
}

.tdiv{
    margin-top: 0vw;
    color: rgb(5, 5, 122);
    font-size: 25px;
    font-weight: bold;
    margin-left: 1vw;
}